.MainHome{
    color: white;
    height: 100vh;
    display:flex;
    align-items: center;
}

.contenedorimg{
    margin-left: 10% ;
}

.contenedordescripcion{
    margin-right: 5%;
    width: 150%;
}
