.MainHome{
    color: white;
    height: 100vh;
    display:flex;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.contenedorimg{
    grid-column: 2/span 4;
}

.contenedordescripcion{
    grid-column: 6 / span 6;
}

.contenedorBotones{
    display: flex;
    justify-content: flex-end;
}



.contenedorBotones button{
    padding: 10px;
    border: solid rgb(255, 255, 255) 1.5px;
    border-radius: 10px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10px;

}

.contenedorBotones button:hover{
    background-color: rgba(140, 209, 65, 1);
    box-shadow: 0px 0px 4px rgb(146, 146, 146);
}

.buttonDCV{
    background-color: rgba(0, 156, 25, 1);
}

.buttonVCV{
    background-color: transparent;
}

@media (min-width: 1400px) {
    
    .MainHome{
        grid-template-columns: repeat(8, 1fr);
    }

    .contenedorimg{
        grid-column: 1/span 4;
    }
    
    .contenedordescripcion{
        grid-column: 5 / span 3;
    }


 }


 @media (min-width: 500px) and (max-width: 1000px){
    .MainHome{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, auto);
    } 
    .contenedorimg{
        position: absolute;
        width: 100%;
    }
    
    .contenedordescripcion{
    width: 500px;
      margin-top: 90%;
      grid-column: 2/ span 2;
      grid-row-start: 5;
    }

 }

 @media (max-width: 500px){
    .MainHome{
        grid-template-columns: repeat(7, 1fr);
        gap: 10px;
        grid-template-rows: repeat(6, auto);
    } 
    .contenedorimg{
        display: none;
    }
    
    .contenedordescripcion{
        grid-column: 2/ span 5 ;
        grid-row-start: 2;
        grid-row-end: 6 ;
        font-size: 20px;
    }

    .contenedorBotones{
        display: flex;
        justify-content: center;
    }
 }

