.h11{
    color:   rgba(0, 156, 25, 1);
}

.h12{
    color: rgba(140, 209, 65, 1);
}

@media (min-width: 1200px){
    .h11{
       font-size: 2rem;
    }
    
    .h12{
        font-size: 2rem;
    }

    .ContenedorPerfil p{
        font-size: 20px;
    }


}




