.Headers{
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    backdrop-filter:blur(10px) ;
    background: linear-gradient(to bottom, rgb(22, 22, 22), rgba(22, 22, 22, 0.158));
}

.BodyHeaders{
    display:flex;
    justify-content: space-between;
}