

.IconBar {
  display: flex;
  justify-content: space-around;
  animation: scroll 25s linear infinite;
  width: 200%;
  position: relative;
}

.logos {
  font-size: 30px;
  display: flex;
  align-items: center;
  margin: 0 10px;
  transition: transform 0.3s, color 0.3s;
}



@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50px * 20);
  }
}
