

.IconBar {
  display: flex;
  justify-content: space-around;
  animation: scroll 25s linear infinite;
  width: 200%;
  position: relative;
}

.logos {
  font-size: 50px;
  display: flex;
  align-items: center;
  margin: 0 10px;
  transition: transform 0.3s, color 0.3s;
}

.slider:hover .logos {
  transform: scale(1);
}

.slider:hover .logos:hover {
  transform: scale(1.2); 
  color: rgba(0, 156, 25, 1);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
